fastapi
uvicorn[standard]
sqlalchemy
alembic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
python-multipart
pydantic[email]
groq
numpy
pandas
sentence-transformers
psycopg2-binary